# PostgreSQL. Versions 9.1

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: <%= ENV['DATABASE_NAME'] %>
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>

test:
  <<: *default
  database: blog_application_test

production:
  <<: *default
  database: blog_application_production
  username: blog_application
  password: <%= ENV['BLOG_APPLICATION_DATABASE_PASSWORD'] %>
