html,
body {
    width: 100%;
    height: 100%;
}
body{
  font-family: 'Titillium Web', sans-serif;
  background-color: #250E11;
  color: #C1AE8D;
  position: relative;
  height: 100%;
}
div{
  display: block;
}

.clearfix::before,
.clearfix::after{
  content: "";
  display: table;
}
.clearfix::after{
  clear: both;
}
/**************************Header********************************/
header {
  margin: 0 auto;
  width: 100%;
  height: 70px;
  background: rgba(102,67,35,0.7);
  color: #fff;
}

header nav{
  margin: 0 auto;
  float: right;
  margin-right: 80px;
}

header nav{
  text-align: center;
}
header nav li{
  display: inline-block;
}
header nav > ul{
  list-style: none;
  margin: 0;
  padding: 0 auto;
}
header nav > ul > li{
  display: inline-block;
  padding-right: 20px;
  line-height: 70px;
}
header nav li a{
  text-decoration: none;
  font-size: 24px;
  color: #D3C7B6;
  width: 120px;
  height: auto;
  display: inline-block;
}

header nav li a:hover, header nav li a:active, header nav li a:focus{
  text-decoration: none;
  font-size: 24px;
  color: #57361F;
  background-color: #D3C7B6;
  width: 120px;
  height: auto;
  display: inline-block;
  border-radius: 25%
}

/**************************Regisration***************************/
.brand-logo{
    width: 120px;
}
.hero{
    background-image: url('https://goo.gl/9RzExE');
    background-size: cover;
    background-color: white;
    background-position: center center;
    min-height: 90%;
    min-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
    z-index: 2;
    padding: 0;
}
.hero:after{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 90%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
}
.hero .container{
    z-index: 3;
    position: relative;
}
.hero .card{
    background: rgba(0,0,0,0.7);
}
a, a:hover{
    color: #fff;
    text-decoration: underline;
}
@media (min-width:576px){
    section{
        padding: 40px 0px;
    }
    .hero .card .card-block{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
@media (max-width:576px){
    section{
        padding: 20px;
    }
}
.bg-alt {
    background-color: #fff;
}
.btn{
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
    text-transform: uppercase;
    font-weight: 500;
    padding: .6rem 1.5rem;
    cursor: pointer;
}
.btn:hover, .btn:focus {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}
.btn-primary{
    background-color: #ff5722 !important;
    border-color: #ff5722 !important;
}
.btn-primary:hover, .btn-primary:focus{
    color: #fff !important;
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-control{
    height: 45px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
}
.form-control:focus {
    border-color: #FFFFFF;
    background-color: transparent;
    color: #FFFFFF; 
}
.select-options{
  height: 45px;
  font-size: 16px;
  background-color: #010101;
  border-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}
.form-control:focus {
    border-color: #FFFFFF;
    background-color: black;
    color: #FFFFFF; 
}
#country_code{
  width: 25%;
  display: inline-block;
}
#phone_number{
  width: 74.1%;
  display: inline-block;

}
.border-none{
    border: none !important;
    border-color: transparent !important;
}
.text-primary{
    color: #ff5722 !important;
}
.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #ff5722;
    outline-color: #ff5722; 
}
.content-divider.center {
    text-align: center;
}
.content-divider {
    position: relative;
    z-index: 1;
}
.content-divider > span, .content-divider > a {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 2px 12px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
}
.content-divider > span:before, .content-divider > a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    z-index: -1;
}
.social-login .btn{
    color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 0.6rem;
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.social-login .btn-twitter {
    background: #00aced;
}
.social-login .btn-facebook {
    background: #3b5998;
}
.social-login .btn-google {
    background: #dd4b39;
}
.social-login .btn-linkedin {
    background: #007bb6;
}
.social-login .btn-github {
    background: #000000;
}
.large-font{
  font-size: 50px;
}

#error_explanation{
  color: #FF3B00;
}

/**************Home Page******************/
.wallpaper{
  background-image: url('https://goo.gl/v4qXp9');
  background-size: cover;
  background-color: white;
  background-position: center top;
  min-height: 90%;
  min-width: 70%;
  background-repeat: no-repeat;
  background-color: inherit;
  width: auto;
  height: auto;
  margin: 0;
}

.main{
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  padding: 0;
}

.container{
  /*margin: 0 auto;*/
  height: 100%;
  width: 1280px;
  margin: 0 auto;
}

.container h2{
  margin-bottom: 60px;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
}
.col-md-4{
  float: left;
}

.blog-card{
  border: 1px solid #C1AE8D;
  border-radius: 10px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
}

.blog-author{
  font-size: 14px;
  margin: 0;
}

.blog-title{
  margin-bottom: 20px;
}

.read-more{
  color: #BC7E3E; 
  text-align: right;
  display: block;
}

.read-more:hover{
  color: #B3B08A; 
  text-align: right;
  display: block;
}

@media (min-width: 992px){
  .container {
      min-width: 70%;
  }
}

/*****************BLOGS PAGES*****************/
.body{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;

}

.blog-cell{
  display: flex;
  border-radius: 5px;
  border: 1px solid #C1B08A;
  padding: 20px;
  height: auto;
  margin-bottom: 40px;
}

.blog-cell a{
  font-size: 24px;
  color: #C1B08A;
  float: left;
}
.title{
  width: 100%;
}
.title p{
  font-size: 24px;
  color: #C1B08A;
  float: right;
  margin-left: 20px;
}

.important-message{
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #C1B08A;
  padding: 0;
  height: auto;
  margin-bottom: 40px;
  text-align: center;
}

.important-message p{
  font-size: 30px;
  display: inline-block;
  margin: 0;
}

.important-message a{
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  color: #2C1217;
  background-color: #C1B08A;
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px 20px;
  margin-left: 20px;
}

.form-bg-title{
  height: 55px;
  font-size: 24px;
  padding: .375rem .75rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  display: block;
  width: 50%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-bg-desc{
  height: 120px;
  font-size: 24px;
  padding: .375rem .75rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  display: block;
  width: 75%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-bg-content{
  min-height: 400px;
  font-size: 24px;
  padding: .375rem .75rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-bg-submit{
  text-decoration: none;
  font-size: 24px;
  color: #2C1217;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: #CCD2D9;
  border: 1px solid;
  padding: 20px;
  margin-left: 20px;
  float: right;
}

.form-bg-submit:hover{
  text-decoration: none;
  font-size: 24px;
  color: #2C1217;
  background-color: rgba(255, 255, 255, 0.3);
  color: #CCD2D9;
  padding: 20px;
  margin-left: 20px;
  cursor: pointer;
}

/************RESPOSIVE***************/
@media(max-width: 767px){
  body{
    height: auto;
  }
  header{
    margin: 0;
    width: 100%;
    height: 180px;
    position: relative;
  }
  header nav{
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  header nav ul{
    padding: 0;
  }
  header nav ul > li{
    width: 100%;
    padding: 0;
    text-align: center;
    line-height: 40px;  
  }
  header nav li a{
    width: 100%;
    margin: 0 auto;
    font-size: 14
  }
  .wallpaper{
    display: none;
  }
  .container{
    margin: 50px auto;
    padding: 0;
    height: auto;
    width: 100%; 
  }
  .container h2 {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
  }

  .blog-author {
    text-align: center;
  }
  .blog-title, .blog-description{
    text-align: center;
    margin-bottom: 30px;

  }
  .blog-content{
    text-align: center;
  }

  .links{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
  .form-bg-submit{
    position: relative;
    margin: 0;
    float: bottom;
    padding: 10px;
    background-color: #57361F;
    width: 50%;
    text-align: center;
  }
  .form-bg-submit:hover{
    position: relative;
    margin: 0;
    float: bottom;
    padding: 10px;
    background-color: #57361F;
    width: 50%;
    text-align: center;
  }

  .form-bg-title,.form-bg-desc, .form-bg-content{
    width: 100%;
    text-align: center
  }
  .form-bg-desc{
    width: 100%;

  }

  .blog-cell{
    display: block;
    width: 100%;
    /*height: auto;*/
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: center;
  }
  .published{
    display: block;
    width: 100%;
    height: 100px;
    margin: 0;
    text-align: center;
  }
  .blog-cell a{
    /*float: left;*/
    width: 100%;
  }
  .title p{
    float: none;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  #country_code, #phone_number {
      width: 100%;
      display: block;
  }
}